* {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.row {
  margin: 0
}

.login {
  background: #F5683D;
  height: 100vh;
}

.logins {
  background: #ECECEC;
  height: 25em;
  margin-top: 60px;
  position: relative;
  margin-bottom: 40px;
  padding: 30px 60px 0px;
}

h3 {
  font-size: 3em;
  text-align: center;
  font-weight: 200;
  letter-spacing: 0 !important;
}

.email {
  border-bottom: none;
  background: #D3D3D3;
  color: black;
  border-radius: 4px;
  margin-bottom: -10px;
}

.password {
  border-bottom: none;
  background: #D3D3D3;
  color: black;
  border-radius: 4px;
  margin-bottom: -10px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn.waves-effect.waves-light {
  background: #4690FB;
  box-shadow: 0 4px 0 0 #007299;
}

i.icon-white {
  color: white;
  background-color: #FCD300;
  width: 100px;
  margin-top: 10px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 21%;
}


/*############################
End Login
#############################*/

.register {
  background: #00CEB9;
  height: 100vh;
}

.registers {
  background: #ECECEC;
  height: 30em;
  margin-top: 60px;
  position: relative;
  margin-bottom: 40px;
  padding: 30px 60px 0px;
}

i.icons-white {
  color: white;
  background-color: #FCD300;
  width: 100px;
  margin-top: 10px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 21%;
}

*::-webkit-placeholder {
  color: black;
}

*::-moz-placeholder {
  color: black;
}

*:-moz-placeholder {
  color: black;
}

*::-o-placeholder {
  color: black;
}

*::-ms-placeholder {
  color: black;
}

@media only screen and (max-width: 990px) {
  i.icon-white {
    color: white;
    background-color: #FCD300;
    width: 100px;
    margin-top: 10px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 44%;
  }
  i.icons-white {
    color: white;
    background-color: #FCD300;
    width: 100px;
    margin-top: 10px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 54%;
    right: 43%;
  }
}

@media only screen and (max-width: 500px) {
  .logins {
    height: 29em;
  }
  i.icon-white {
    color: white;
    background-color: #FCD300;
    width: 100px;
    margin-top: 10px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 38% !important;
  }
  .icons>i.icons-white {
    color: white;
    background-color: #FCD300;
    width: 100px;
    margin-top: 10px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 100%;
    right: 39%;
  }
}

@media only screen and (max-width: 400px) {
  .logins {
    height: 29em;
  }
  i.icon-white {
    color: white;
    background-color: #FCD300;
    width: 100px;
    margin-top: 10px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 38%;
  }
  i.icons-white {
    color: white;
    background-color: #FCD300;
    width: 100px;
    margin-top: 10px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 100%;
    right: 37%;
  }
}


/*############################
End Register
#############################*/
